h1 { font-size: 16px;
    font-family: flaticon, helvetica, arial, sans-serif;
    color: darkred; }  
 h2 { font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    color: navy; }
 p { font-size: 100%; }
